@model puceAsk_dev1.Models.PreguntasManager

@{
    ViewBag.Title = "Inicio";
}

<h1>PUCE_ASK 2.0</h1>

<p>
    @Html.ActionLink("Agregar pregunta", "Create", null, new { @class = "link-button" })
</p>

